:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    
    color-scheme: light dark;
    color: #666;
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */
    background-color: rgb(219, 206, 180);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --brown-interactive: rgb(135, 91, 5);
    --gray-pantone: #676C73;
    --gray-process: #5A6666;
    --gray-interactive: #3C444B;
    --gray-text-1: #666;
    --gray-lite-1: #CCC;
    --gray-lite-2: #DEDEDE;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* body {
  background-color: var(--blue-bg);
  color: var(--gray-interactive);
  margin: 0;
  min-height: 100vh;
} */

body {
  margin: 0;
  margin: 0;
  min-height: 100vh;
  font-size: 1rem;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

.container {
  width: 70%;
  max-width: 1080px;
  min-width: 800px;
  margin: auto;
  position: relative;
}

.hidden {
  display: none !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* .card {
  padding: 2em;
} */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.5rem;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  /* border-color: var(--brown-interactive); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateY(-2);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.fields {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.field > label {
  font-size: 0.875rem;
  padding: 0 2px;
  font-weight: 600;
}
.field.optional > label {
  font-weight: 400;
}
.field.optional > label::after {
  content: ' - Optional';
  font-weight: 400;
  font-style: italic;
}
.field-error {
  color: red;
  font-size: 0.8725rem;
  padding: 0 2px;
}
.fld {
  border: 1px solid var(--gray-lite-1);
  outline: 0;
  border-radius: 2px;
  color: var(--gray-interactive);
  padding: 8px 12px;
}
.field-rb-grp {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.field-rb {
  padding: 12px 0;
}
.field-rb input[type=radio] {
  display: none;
  outline: 0;
}
.field-rb label {
  position: relative;
  cursor: pointer;
  padding: 8px 16px;
  border: 2px solid var(--gray-lite-2);
  border-radius: 8px;
  /* transition: all 100ms ease-in-out; */
}
.field-rb input[type=radio]:checked + label {
  background-color: var(--blue-interactive);
  border: 2px solid var(--blue-interactive);
  opacity: 0.9;
  color: white;
  font-weight: 600;
}
.field-rb input[type=radio]:checked + label::before {
  content: '\002714';
  margin-right: 12px;
}
.w400 {
  width: 400px !important;
}
.w240 {
  width: 240px !important;
}
.w200 {
  width: 200px !important;
}
.w160 {
  width: 160px !important;
}
.w120 {
  width: 120px !important;
}
.w80 {
  width: 80px !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
